# editor
.vscode

# dependencies
.cache
node_modules

# templates
src/templates/*.hbs

# build
dist
example/api
example/app/styles/tailwind.css
example/public/build

# test
coverage

# host
.netlify

# secrets
.env*

# logs
debug.log
