import type {
{{#includes features "action"}}
    ActionFunction,
{{/includes}}
{{#includes features "error"}}
    ErrorBoundaryComponent,
{{/includes}}
{{#includes features "meta"}}
    HtmlMetaDescriptor,
{{/includes}}
{{#includes features "links"}}
    LinkDescriptor,
    LinksFunction,
{{/includes}}
{{#includes features "loader"}}
    LoaderFunction,
{{/includes}}
{{#includes features "meta"}}
    MetaFunction,
{{/includes}}
} from "@remix-run/node"
import {
{{#includes features "loader"}}
    json,
{{/includes}}
{{#includes features "action"}}
    redirect
{{/includes}}
} from "@remix-run/node"
{{#includes features "catch"}}
import {useCatch, useParams} from "@remix-run/react"
{{/includes}}
import {FC} from "react"

{{#includes features "links"}}
const links: LinksFunction = () => {
    const links: LinkDescriptor[] = []
    return links
}

{{/includes}}
{{#includes features "links"}}
const meta: MetaFunction = () => {
    const meta: HtmlMetaDescriptor = {}
    return meta
}

{{/includes}}
{{#includes features "loader"}}
type LoaderData = {}

const loader: LoaderFunction = async ({request, params}) => {
    const data: LoaderData = {}
    return json<LoaderData>(data)
}

{{/includes}}
{{#includes features "action"}}
const action: ActionFunction = async ({request, params}) => {
    return redirect("/")
}

{{/includes}}
const {{pascalCase name}}Route: FC = () => {
    return <h2>{{pascalCase name}}Route</h2>
}

{{#includes features "catch"}}
const CatchBoundary = () => {
    const caught = useCatch()
    const params = useParams()

    return <p>Something went wrong.</p>
}

{{/includes}}
{{#includes features "error"}}
const ErrorBoundary: ErrorBoundaryComponent = ({error}) => {
    console.log(error)

    const params = useParams()
    return <p>Something went wrong.</p>
}

{{/includes}}
export default {{pascalCase name}}Route
export {
{{#includes features "action"}}
    action,
{{/includes}}
{{#includes features "catch"}}
    CatchBoundary,
{{/includes}}
{{#includes features "error"}}
    ErrorBoundary,
{{/includes}}
{{#includes features "links"}}
    links,
{{/includes}}
{{#includes features "loader"}}
    loader,
{{/includes}}
{{#includes features "meta"}}
    meta
{{/includes}}
}
